{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='banner.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='donate.css') }}">
{% endblock %}

{% block body %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

                                                
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-712">
        <div class="cs-container">
            <span class="cs-int-title">How Can You Contribute?</span>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/other_4_1.JPG') }}">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/other_4_1.JPG') }}">
            <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/other_4_1.JPG') }}" alt="pills" width="1280" height="568" aria-hidden="true">
        </picture>
    </div>         
  
  <section class="donation-card">
    <div class="qr-wrapper">
      <img 
        id="dynamic-qr"
        loading="lazy"
        decoding="async"
        src="{{ url_for('static', filename='images/paynow.jpg') }}"
        alt="Donation QR Code"
      >
    </div>
  
    <div class="text-content">
        <h2>Make A Contribution Today</h2>
        <p>With this year's project having an outreach of <b>220</b> Timorese children and youths (way more than the 40 children and youths we reached out to in 2023!), 
            we will greatly appreciate any amount given cheerfully to the Lord.</p>
        
        <p>To support us financially:</p>
        <ol>
            <li>Please scan the QR code and indicate <strong>diliyouth</strong> as your reference.</li>
            <li>Afterwards, please screenshot the payment screen and send it to <strong>May Yen Tan (98303185)</strong> via <strong>Whatsapp</strong>.</li>
        </ol>
            <p>Your contributions will be directed towards:</p>
        <ul>
            <li>Improving the infrastructure of Cocoon to protect against flooding, as well as provide a safe and conducive place for children and youths to learn.</li>
            <li>Blessing the children with gifts such as snacks, clothes, toys and stationery.</li>
        </ul>
    </div>
  </section>

                  
{% endblock %}
                                