{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='banner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='events.css') }}">
{% endblock %}

{% block body %}
                                              
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Project Diliverance 2025</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/banner_cropped.jpg') }}">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/banner_cropped.jpg') }}">
        <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/banner_cropped.jpg') }}" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
       
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/group_photo_8.jpeg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/group_photo_8.jpeg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/group_photo_8.jpeg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/group_photo_1.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/group_photo_1.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/group_photo_1.jpg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">How we returned</span>
            <h2 class="cs-title">Returning to Timor</h2>
            <p class="cs-text">
                <!-- check for accuracy & any additions lol -->
                In 2025, God called our group to return to Timor for another mission trip. 
                However, with the boys in NS and the girls being caught up in their schoolwork, many of us were willing but unable to commit to this trip.
                <br><br>
                Despite this, we continued to pray and eventually found enough members who could join us on the trip. The rest of us who were unable to go continued to support the team as senders.
            </p>
        </div>
    </div>
</section> 

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbsr-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_3.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_3.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_3.jpg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_4.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_4.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_4.jpg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Going Into The Mission Field</span>
            <h2 class="cs-title">Bringing Joy To The Village Children</h2>
            <p class="cs-text">
                We accompanied Cocoon's Youth Club for their monthly Boots on the Ground Programme, which involved engaging with the children in the village children through simple games, song and dance.
                <br><br>
                "One of the highlights of this programme was the simple skit of the Parable of the Lost Sheep, which pulled at our heartstrings when we saw the pure joy and excitement on the faces of the children in the audience.
                Though it was a very simple skit, it was a powerful reminder to the village children that Jesus loves each and every one of us. If one of us goes astray, Jesus will search for us, until His lost child finally returns home."
                <br>
                - Jaden
            </p>
            <p class="cs-text">
                "When we met some of the Cocoon youth and teachers to rehearse for the Boots programme, what struck me was their singing with such loud voices about God's blessings.
                Their voices were filled with such love and adoration for the Lord and this really impacted me as it made me think about how I have been blessed with much more than them,
                yet sometimes I am guilty of worshipping God with much less than them."
                <br>
                - Arielle
            </p>
        </div>
    </div>
</section>

     
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_6.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_6.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_6.jpg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_5.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_5.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_5.jpg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Going Into The Missions Field</span>
            <h2 class="cs-title">Celebrating Christmas with the Youth & Kids Clubs</h2>
            <p class="cs-text">
                Over the course of four days, we had our Cocoon Christmas Programmes in full swing. 
                This involved engaging the youths and kids through games and crafts, 
                connecting with their families during over meals, and even leading the youths in a time of worship.
                <br><br>
                "Prior to the actual programme, one of the Cocoon youths joined us during our worship rehearsals.
                At first, it was difficult due to the language barrier between us. 
                However, as we began practising the song "Still" in Tetum, we found ourselves worshipping God joyfully together. 
                This reminded me of how people of different nations and languages will come together to worship God as one body in Christ in the kingdom of heaven."
                <br>
                - Khanh
            </p>
            <p class="cs-text">
                "Our preparation for the Christmas programme involved setting up a sheltered outdoor area. 
                Some of us had to climb up the roof to set up the green taurpalin, and the Cocoon staff set up an unstable, wooden platform to serve as our stage.
                During the worship session itself, I was amazed to see the youths worshipping so joyfully under the hot sun and on the rocky ground.
                This was such a stark contrast to the air-conditioned sanctuary and our advanced sound systems back home,
                and I felt like I had always taken these things for granted. 
                God had already provided us with so much, and I wanted to learn to worship as joyfully as them under any circumstance."
                <br>
                - Keiko
            </p>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbsr-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_7.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_7.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_7.jpg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/group_photo_1.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/group_photo_1.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/group_photo_1.jpg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Testimony from Ruth</span>
            <h2 class="cs-title">Testimony from Ruth</h2>
            <p class="cs-text">
                The formation of this trip was super rocky... From 10 interested to being the only one from my CG going was really quite disheartening, (and honestly a bit worrying) but I felt that this was a time that I had set aside for Timor and God would make a way for us to go. Even if we only had 3 people in the team 1 month before, somehow, I always felt a sense of peace that God has a plan for us to go. And true enough, He provided a team, filled with different talents and gifts, and sent us on this trip. 
                <br><br>
                The preparation period was not great either 😅 coming out of YABTW prep into missions prep while studying for exams was not exactly the best decision I've made 😅 but God really carried me through with His strength (PTL 🙏) since most of the prep was done 2 weeks before my exams, I really felt a sense of struggle to complete my revision and attend meetings and calls and organising things etc etc. But each time there was a call that happened, somehow God helped me to finish my revision for the day on time 🤯 also want to give a huge shoutout to my lovely CG who really helped out in the planning process. Thank you for all the hard work you've put in and for taking sooooo much workload off my shoulders. Thank you for also checking in on me periodically yay I felt very loved and cared for 🦉🦉 
                <br><br>
                This trip was more centred around building deeper relationships and seeing the daily running of Cocoon kindergarten. I'm so thankful to be given the opportunity to go back to Timor to rekindle old friendships and build new ones. With less action packed activities, and more time to slow down, reflect and talk to the people around me, it really gave me time to rejuvenate after exams and have time to dive deeper into conversations, especially with the youths. I'm so thankful for how God has constantly shown his providence and faithfulness throughout the entire trip (from formation, to planning, to going). I look forward to going back w my CG one day (Hopefully?!?)
                <br> - Ruth
            </p>
        </div>
    </div>
</section> 

     
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_9.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_9.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_9.jpg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/group_photo_keiko.jpeg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/group_photo_keiko.jpeg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/group_photo_keiko.jpeg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Testimony from Keiko</span>
            <h2 class="cs-title">Testimony from Keiko</h2>
            <p class="cs-text">
                I'm just really grateful that I decided to go to be honest. The first trip wasn't exactly the best for me (could even honestly say it was slightly disappointing) so I wasn't really expecting much out of this at first. I made a lot of excuses not to go etc etc but in the end I finally made up my mind about a month prior. Even during the trip itself, many unfortunate things happened (foot sprain, fever 🥲) that I could have been angry at God about, but then again this was when I really chose to just surrender everything to God. From all the small conversations I managed to have with the Timorese while limping up hills, to leading large group activities with my dying throat and feverish body, I trusted that God would continue to nurture the seeds that we've sown in their hearts.  All this gave me a sense of peace that I know can only come from God and my heart really came back super full.
                <br><br>
                I was also just in awe of how God used people from our church and of course, Cocoon, to nurture the next generation of Timor. Unfortunately I was resting in TA (fever....🤒) while the rest of the team went out to meet Lishan and Ps Hans, but I managed to catch a glimpse of the vision that God had for Timor as a learning hub. I could also see the love that they poured out into the country and how they are using their gifts to serve in their respective areas, and I really thank God for His faithfulness and providence.
                <br><br>
                I'm already looking forward to going back LOL but for now, I'm praying that God will continue to guide and sustain our missionaries and Cocoon teachers on the field, that they would be covered with God's protection from all sorts of emotional physical and spiritual attacks, and also for a stronger and wiser government that would have the Timorese at the heart of everything they do.
                <br><br>
                Also wanted to include a short reflection on my experience building the website 🤣 Honestly it also felt pretty surreal to me because I struggled for a whole year with choosing my major (I'm studying computer science now 😵 just completed year 1!) but it was crazy to see how I could literally use what I had learned to serve God!! Quoting Auntie Ruth, it really provides a platform for people back home in Singapore to visualise what goes on in the mission field and to share our stories and blessings ❤️ Going beyond this, Cocoon itself is in need of things like cybersecurity education and digital platforms to make their learning resources more readily available for the youths and children, and I'm hoping to get myself (and my CG mates LOL yall better be ready) involved in these 😋😋 It's really always a pleasure to serve the Lord with all that I have.
                <br> - Keiko
            </p>
        </div>
    </div>
</section>

<div style="display: flex; justify-content: center;">
    <video 
        controls 
        style="max-width: 100%; height: auto;" 
        width="800" 
    >       
        <source 
            src="{{ url_for('static', filename='images/2025/game_video.mp4') }}" 
            type="video/mp4"
        >
    </video>
</div>
<div style="margin-bottom: 70px;"></div>
{% endblock %}