{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='banner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='events.css') }}">
{% endblock %}

{% block body %}
                                              
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Project Diliverance 2026</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/event_banner.jpg') }}">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/event_banner.jpg') }}">
        <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/event_banner.jpg') }}" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
       
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/group_photo_8.jpeg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/group_photo_8.jpeg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/group_photo_8.jpeg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2026/group_meeting.jpeg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2026/group_meeting.jpeg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2026/group_meeting.jpeg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">How It Started</span>
            <h2 class="cs-title">The Call To Baucau</h2>
            <p class="cs-text">
                Earlier this year, CEFC sent out a call asking for groups to organise mission trips to Timor Leste. Combined with a calling among our group to return to Timor, we decided to take up this opportunity again.
                <br><br>
                For this trip, our team is heading out to Baucau, the second largest city in Timor Leste. Although this is a new location for our team, we will follow as God leads and trust in His plans for us.
            </p>
        </div>
    </div>
</section> 

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbsr-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2026/church.jpeg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2026/church.jpeg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2026/church.jpeg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2026/timor_people.jpeg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2026/timor_people.jpeg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2026/timor_people.jpeg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Going Into The Mission Field</span>
            <h2 class="cs-title">Baucau and Samagia</h2>
            <p class="cs-text">
                We will be working with IEVCTL, a local church in Timor Leste to run children's, youth's and women's programmes for the churchgoers. 
                Through games and cultural sharing opportunities, we estimate that we will get to interact with and bless over 100 children and 50 women in the community!
                <br><br>
                For one morning, our team will travel out to Samagia, a village in Baucau, where we will continue to run children's programmes for the locals in the area!
            </p>
        </div>
    </div>
</section>

     
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/group_photo_6.jpeg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/group_photo_6.jpeg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/group_photo_6.jpeg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/bonding_6.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/bonding_6.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/bonding_6.jpg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Going Into The Missions Field</span>
            <h2 class="cs-title">Boleha</h2>
            <p class="cs-text">
                We also plan to visit Boleha, another village, to run games and activities for the local children in the area. 
                This is a new area that has not been visited by other missionaries before, so please pray for the locals to be receptive and open to listening to God's word!
            </p>
        </div>
    </div>
</section>
    

{% endblock %}