{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='banner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='events.css') }}">
{% endblock %}

{% block body %}
                                              
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Project Diliverance 2025</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/banner_cropped.jpg') }}">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/banner_cropped.jpg') }}">
        <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/banner_cropped.jpg') }}" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
       
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/group_photo_8.jpeg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/group_photo_8.jpeg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/group_photo_8.jpeg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/group_photo_1.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/group_photo_1.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/group_photo_1.jpg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">How we returned</span>
            <h2 class="cs-title">Returning to Timor</h2>
            <p class="cs-text">
                <!-- check for accuracy & any additions lol -->
                In 2025, God called our group to return to Timor for another mission trip. 
                However, with the boys in NS and the girls being caught up in their schoolwork, many of us were willing but unable to commit to this trip.
                <br><br>
                Despite this, we continued to pray and eventually found enough members who could join us on the trip. The rest of us who were unable to go continued to support the team as senders.
            </p>
        </div>
    </div>
</section> 

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbsr-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/trevis.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/trevis.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/trevis.jpg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/group_photo_9.jpeg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/group_photo_9.jpeg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/group_photo_9.jpeg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Going Into The Mission Field</span>
            <h2 class="cs-title">Joining Cocoon's Youth Club</h2>
            <p class="cs-text">
                This year, we returned to Cocoon's Youth Club to run a youth programme. We performed a skit about loving who are outcast or who may be different from us.
                <br><br>
                We invited the youths to share their thoughts on the skit and how they related to it. Our hearts were broken when we heard about the ostracism they faced, but we were encouraged by the fact that they felt loved and welcomed in Cocoon.
                <br><br>
                The Cocoon Youth Club staff also brought us out on a hike! We climbed up a hill and drove down to a beach to swim, taking time to enjoy and appreciate the natural wonders that God created.
            </p>
        </div>
    </div>
</section>

     
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/events_1.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/events_1.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/events_1.jpg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/Eden & May Yen.png') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/Eden & May Yen.png') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/Eden & May Yen.png') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Going Into The Missions Field</span>
            <h2 class="cs-title">Cocoon's Preschool Sessions</h2>
            <p class="cs-text">
                We also had the chance to join one of the preschool sessions, where we shared the creation story with them and got them to colour in some activity sheets. We also sang songs with them!
                <br><br>
                I turned to a small Timorese boy with albinism and told him, "You are good!" The boy then started shaking his head vigorously and muttering "no" in response. The other kids around me also turned to me and said, "He is malai (foreigner in Tetum)," and my heart simply broke. Seeing a small boy at a young age (of around 2-4 years old?) being outcasted and already having the belief that he is not good reminded me of how important it is for our generation to step up and nurture the next generation, instilling good values and just showing these children God's love while they are young. - Keiko
            </p>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbsr-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/kindy_photo_1.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/kindy_photo_1.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/kindy_photo_1.jpg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/group_photo_1.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/group_photo_1.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/group_photo_1.jpg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Testimonies</span>
            <h2 class="cs-title">Testimonies</h2>
            <p class="cs-text">
                ... the entire team fell ill 🤧😷🤒 one after another, and it is only God Himself who could pull all the things together. He alone deserves all the glory. 🙌🏻  
                <br> God is using the same devotional materials that I have prepared for this STM to speak to me in more ways than I thought possible.... A nation with so little yet so loved and favored by God. God is also doing His renovation works in each of our hearts. He is drawing each of us closer to Him through His word and works. He is knitting us closer to one another through His love.
                <br>
                - Sharlene Koh
                <br><br>
                This trip was more centred around building deeper relationships and seeing the daily running of Cocoon kindergarten. I'm so thankful to be given the opportunity to go back to Timor to rekindle old friendships and build new ones. With less action packed activities, and more time to slow down, reflect and talk to the people around me, it really gave me time to rejuvenate after exams and have time to dive deeper into conversations, especially with the youths. I'm so thankful for how God has constantly shown his providence and faithfulness throughout the entire trip (from formation, to planning, to going). I look forward to going back w my CG one day (Hopefully?!?)
                <br> - Ruth
            </p>
        </div>
    </div>
</section> 

     
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/new_building.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/new_building.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/new_building.jpg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/group_photo_11_crop.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/group_photo_11_crop.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/group_photo_11_crop.jpg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Thank you!</span>
            <h2 class="cs-title">Building of a new learning environment</h2>
            <p class="cs-text">
                Through the collection of monetary contributions during the 2023 trip, we have managed to support the building of a new learning environment for Cocoon! Your love and generosity have gifted the children in Timor a new learning space! We continue to praise the Lord and pray for more opportunities to bless the people of Timor.
            </p>
        </div>
    </div>
</section>

<div style="display: flex; justify-content: center;">
    <video 
        controls 
        style="max-width: 100%; height: auto;" 
        width="800" 
    >       
        <source 
            src="{{ url_for('static', filename='images/2025/game_video.mp4') }}" 
            type="video/mp4"
        >
    </video>
</div>
<div style="margin-bottom: 70px;"></div>
{% endblock %}