{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='banner.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='events.css') }}">
{% endblock %}

{% block body %}
                                              
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">Project Diliverance 2025</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/banner_cropped.jpg') }}">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/banner_cropped.jpg') }}">
        <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/banner_cropped.jpg') }}" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
       
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/group_photo_8.jpeg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/group_photo_8.jpeg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/group_photo_8.jpeg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/group_photo_1.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/group_photo_1.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/group_photo_1.jpg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">How we returned</span>
            <h2 class="cs-title">Returning to Timor</h2>
            <p class="cs-text">
                <!-- check for accuracy & any additions lol -->
                In 2025, God called our group to return to Timor for another mission trip. 
                However, with the boys in NS and the girls being caught up in their schoolwork, many of us were willing but unable to commit to this trip.
                <br><br>
                Despite this, we continued to pray and eventually found enough members who could join us on the trip. The rest of us who were unable to go continued to support the team as senders.
            </p>
        </div>
    </div>
</section> 

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbsr-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/trevis.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/trevis.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/trevis.jpg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/group_photo_9.jpeg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/group_photo_9.jpeg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/group_photo_9.jpeg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Going Into The Mission Field</span>
            <h2 class="cs-title">Joining Cocoon's Youth Club</h2>
            <p class="cs-text">
                This year, we returned to Cocoon's Youth Club to run a youth programme. We performed a skit about loving who are outcast or who may be different from us.
                <br><br>
                We invited the youths to share their thoughts on the skit and how they related to it. Our hearts were broken when we heard about the ostracism they faced, but we were encouraged by the fact that they felt loved and welcomed in Cocoon.
                <br><br>
                The Cocoon staff also brought us out on a hike! We climbed up a hill and drove down to a beach to swim, taking time to enjoy and appreciate the natural wonders that God created.
            </p>
        </div>
    </div>
</section>

     
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/kindy_photo_1.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/kindy_photo_1.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/kindy_photo_1.jpg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/events_1.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/events_1.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/events_1.jpg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Going Into The Missions Field</span>
            <h2 class="cs-title">Cocoon's Preschool Sessions</h2>
            <p class="cs-text">
                We also had the chance to join one of the preschool sessions, where we shared the creation story with them and got them to colour in some activity sheets. We also sang songs with them!
            </p>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbsr-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/group_photo_11.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/group_photo_11.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/group_photo_11.jpg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/group_photo_1.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/group_photo_1.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/group_photo_1.jpg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Testimony from Ruth</span>
            <h2 class="cs-title">Testimony from Ruth</h2>
            <p class="cs-text">
                The preparation period was not great either 😅 coming out of YABTW prep into missions prep while studying for exams was not exactly the best decision I've made 😅 but God really carried me through with His strength (PTL 🙏) since most of the prep was done 2 weeks before my exams, I really felt a sense of struggle to complete my revision and attend meetings and calls and organising things etc etc. But each time there was a call that happened, somehow God helped me to finish my revision for the day on time 🤯 also want to give a huge shoutout to my lovely CG who really helped out in the planning process. Thank you for all the hard work you've put in and for taking sooooo much workload off my shoulders. Thank you for also checking in on me periodically yay I felt very loved and cared for 🦉🦉 
                <br><br>
                This trip was more centred around building deeper relationships and seeing the daily running of Cocoon kindergarten. I'm so thankful to be given the opportunity to go back to Timor to rekindle old friendships and build new ones. With less action packed activities, and more time to slow down, reflect and talk to the people around me, it really gave me time to rejuvenate after exams and have time to dive deeper into conversations, especially with the youths. I'm so thankful for how God has constantly shown his providence and faithfulness throughout the entire trip (from formation, to planning, to going). I look forward to going back w my CG one day (Hopefully?!?)
                <br> - Ruth
            </p>
        </div>
    </div>
</section> 

     
<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="RTsbs-1594">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/events_9.jpg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/events_9.jpg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/events_9.jpg') }}" alt="mechanic" width="413" height="500">
            </picture>
            <!--Top Right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="{{ url_for('static', filename='images/2025/group_photo_keiko.jpeg') }}">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="{{ url_for('static', filename='images/2025/group_photo_keiko.jpeg') }}">
                <img loading="lazy" decoding="async" src="{{ url_for('static', filename='images/2025/group_photo_keiko.jpeg') }}" alt="mechanic" width="413" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Testimony from Keiko</span>
            <h2 class="cs-title">Testimony from Keiko</h2>
            <p class="cs-text">
                I'm just really grateful that I decided to go to be honest. The first trip wasn't exactly the best for me (could even honestly say it was slightly disappointing) so I wasn't really expecting much out of this at first. I made a lot of excuses not to go etc etc but in the end I finally made up my mind about a month prior. Even during the trip itself, many unfortunate things happened (foot sprain, fever 🥲) that I could have been angry at God about, but then again this was when I really chose to just surrender everything to God. From all the small conversations I managed to have with the Timorese while limping up hills, to leading large group activities with my dying throat and feverish body, I trusted that God would continue to nurture the seeds that we've sown in their hearts.  All this gave me a sense of peace that I know can only come from God and my heart really came back super full.
                <br><br>
                I was also just in awe of how God used people from our church and of course, Cocoon, to nurture the next generation of Timor. Unfortunately I was resting in TA (fever....🤒) while the rest of the team went out to meet Lishan and Ps Hans, but I managed to catch a glimpse of the vision that God had for Timor as a learning hub. I could also see the love that they poured out into the country and how they are using their gifts to serve in their respective areas, and I really thank God for His faithfulness and providence.
                <br><br>
                I'm already looking forward to going back LOL but for now, I'm praying that God will continue to guide and sustain our missionaries and Cocoon teachers on the field, that they would be covered with God's protection from all sorts of emotional physical and spiritual attacks, and also for a stronger and wiser government that would have the Timorese at the heart of everything they do.
                <br> - Keiko
            </p>
        </div>
    </div>
</section>

<div style="display: flex; justify-content: center;">
    <video 
        controls 
        style="max-width: 100%; height: auto;" 
        width="800" 
    >       
        <source 
            src="{{ url_for('static', filename='images/2025/game_video.mp4') }}" 
            type="video/mp4"
        >
    </video>
</div>
<div style="margin-bottom: 70px;"></div>
{% endblock %}